.table {
  &__row {
    width: 100%;
  }
}

.row {
  display: flex;
}

.row-info {
  padding: 10px;
  min-width: 50px;
  border: 1px solid #C0C0C0;
  background-color: #D3D3D3;
}

.row-data {
  display: flex;
}

.col {
  border: 1px solid #C0C0C0;
  padding: 10px;
  min-width: 50px;

  &--first {
    background-color: #D3D3D3;
    color: #808080;
    text-align: center;
  }
}
